@import "../utils/keyframes.scss";
.loader {
  position: fixed;
  top: 4%;
  right: 3%;
  animation: loader 2.5s forwards;
  background-color: rgb(255, 255, 255);
  display: grid;
  place-items: center;
  height: 100vh;
  z-index: 1;
  padding: 30px;
  align-content: space-between;
  justify-content: end;

  i {
    animation: spin 1s 2;
    color: $primary-color;
  }
}
