$primary-color: #8d53d3;
$secondary-color: #ff79da;
$green-color: #99e2d0;
$green-font-color: #008766;
$white-color: #ffffff;
$black-color: #101010;
$grey-color: #353535;
$grey2-color: #eaeaea;
$color-gradient: linear-gradient(to top, $primary-color, $secondary-color);